.filter-container.slider-container {
    height: auto;

    .slider-values {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    mat-slider {
        width: 230px;
    }
}    
