.filter-content {
    height: 100%;
    overflow: auto;
    padding-right: 4px;

    .checkbox-filter-item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 20px;
        cursor: pointer;
        padding: 2px;
        border-radius: 2px;

        input:hover {
            cursor: pointer;
        }

        &:hover {
            background: rgba(0, 0, 0, .06);
        }
    }
}
