.filter-container {
    position: relative;
    height: 100%;
    padding: 25px 0 20px 0;

    .filter-title {
        font-weight: bold;
        font-size: 14px;
        position: absolute;
        top: 0;
        text-transform: capitalize;

        .exclude {
            text-transform: none;
        }
    }

    .filter-content {
        height: 100%;
        overflow: auto;

        &:has(app-filter-number) {
            overflow: visible;
        }
    }
}