<div class="sidebar-container">
    <app-filter class="sidebar-filter text-filter" *ngFor="let textFilter of textFilters" [title]="textFilter.key">
        <app-filter-text 
            filterTemplate
            [filterData]="textFilter"
            (onChanged)="onTextFilterChanged($event)">
        </app-filter-text>
    </app-filter>
    <app-filter class="sidebar-filter num-filter" *ngFor="let numberFilter of numberFilters" [title]="numberFilter.key">
        <app-filter-number
            filterTemplate
            [filterData]="numberFilter"
            (onChanged)="onNumberFilterChanged($event)">
        </app-filter-number>
    </app-filter>
    <app-filter class="sidebar-filter arr-filter" *ngFor="let arrayFilter of arrayFilters" [title]="arrayFilter.key">
        <app-filter-array
            filterTemplate
            [filterData]="arrayFilter"
            (onChanged)="onArrayFilterChanged($event)">
        </app-filter-array>
    </app-filter>
</div>