<div class="table-container">
    <div class="table-wrapper">
        <ag-grid-angular
            #agGridElement
            class="ag-theme-quartz"
            style="width: 100%; height: 100%;"
            (gridReady)="onGridReady($event)"
            [rowData]="rowData"
            [defaultColDef]="defaultColDef"
            [columnDefs]="colDefs"
            [autoSizeStrategy]="autoSizeFitWidthStrategy"
            [pagination]="true"
            [paginationPageSize]="20"
            [alwaysShowVerticalScroll]="true">
        </ag-grid-angular>
    </div>
</div>
