.filter-container {
    position: relative;
    height: 100%;
    max-height: calc((100% - 144px - 40px - 60px) / 3);
    padding-top: 25px;
    margin-bottom: 20px;

    .filter-title {
        font-weight: bold;
        font-size: 14px;
        position: absolute;
        top: 0;
        text-transform: capitalize;

        .exclude {
            text-transform: none;
        }
    }
}